/*#region HEADER */
.header {
  width: min(90vw, 1024px);
  margin-inline: auto;
  padding: 2rem 0 6rem 0;
  display: flex;
  align-items: center;
}

.header .img {
  display: none;
}

.header .txt {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .txt .logo {
  margin-bottom: 2rem;
}

.header .txt input[type="text"] {
  width: 450px;
  outline: none;
  border: 2px solid var(--gray50);
  border-radius: 1rem;
  background-image: url("/img/home/magnifying-glass.svg");
  background-position: center right 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  color: var(--gray600);
}

.header .txt input[type="text"]:focus {
  border: 2px solid var(--gray300);
}

.header .txt .links {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  font-size: 14px;
}

.header .txt .links a {
  text-decoration: underline;
}

.header .txt .links a:hover,
.header .txt .links a:focus {
  text-decoration: none;
}

@media screen and (min-width: 640px) {
  .header .img {
    display: block;
    position: relative;
    flex: 1;
  }

  .header .img img {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  .header .img img.left {
    right: 40px;
  }

  .header .img img.right {
    left: 40px;
  }
}
/*#endregion */


/** Main **/
.home {
  position: relative;
}
.home::before {
  content: '';
  position: absolute;
  top: 70%;
  left: -200px;
  width: 415px;
  height: 423px;
  background: url("/img/bg-bubble-triple.svg");
  z-index: -1;
}
.home::after {
  content: '';
  position: absolute;
  top: 25%;
  right: -280px;
  width: 380px;
  height: 445px;
  background: url("/img/bg-bubble-double.svg");
  z-index: -1;
}

/*#region FILTER */
.filters {
  padding: 0 0 2rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.filters p {
  padding: 0;
  font-weight: 600;
}

.filter {
  position: relative;
  height: min-content;
}

.filter select {
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.filter select[name="department"] {
  width: 124px;
}

.filter select[name="team"] {
  width: 80px;
}

.filter select[name="location"] {
  width: 115px;
}

.filter select option {
  padding: 8px;
  margin: 8px;
}
/*#endregion */


/*#region LIST POSTS */
.posts {
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.posts h2 {
  font-size: 40px;
  font-weight: 900;
  color: var(--gray800);
}

.posts .grid {
  gap: 2rem;
}

.intro {
  margin-bottom: 2rem;
}

.intro .title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/*#endregion */
